.products {
    background-color: rgb(255, 255, 255);
    margin-bottom: 95px;
}
.products__content {
}
.products__signboard {
    text-align: center;
}
.products__title {
    color: rgb(34, 34, 34);
    font-family: Lato;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 6px;
}
.products__text {
    color: rgb(159, 159, 159);
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}
.products__cards {
    padding: 48px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.products__card {
    max-width: 360px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.bg {
    background-color: rgb(247, 228, 226);
    max-width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.image__bg {
    align-self: center;
}
.products__info {
    padding: 24px;
    background-color: rgb(248, 248, 248);
}
.products__subtitle {
    color: rgb(0, 0, 0);
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 16px;
}
.products__description {
    color: rgb(93, 93, 93);
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    margin-bottom: 16px;
}
.products__price {
    color: rgb(241, 109, 127);
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}
.products__link {
}

